<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.dewey.apptagger</string>
    <key>ProgramArguments</key>
    <array>
        <string>/path/to/apptagger</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>StandardErrorPath</key>
    <string>/var/log/apptagger.err</string>
    <key>StandardOutPath</key>
    <string>/var/log/apptagger.out</string>
    <key>WatchPaths</key>
    <array>
        <string>/Applications</string>
    </array>
</dict>
</plist> 