<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.github.dewey.brewtagger</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/philipp/Projects/repos/github.com/dewey/brewtagger/brewtagger</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>21600</integer>
    <key>StandardErrorPath</key>
    <string>~/Library/Logs/brewtagger.err</string>
    <key>StandardOutPath</key>
    <string>~/Library/Logs/brewtagger.out</string>
    <key>WatchPaths</key>
    <array>
        <string>/Applications</string>
    </array>
</dict>
</plist> 